* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,
body {
    height: 100%;
    width: 100%;
}

.parent {
    height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 20px;
}
.card {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.top button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 4px 8px;
    border: 1px solid #dadada;
    font-size: 11px;
    gap: 3px;
    background-color: transparent;
    color: #b1b1b1;
}
.center {
    background-color: red;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dadada;
    padding-top: 15px;
}

