* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,
body {
    height: 100%;
    width: 100%;
}

.parent {
    height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 20px;
}
.card {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 30px;
}
img {
    padding: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
